footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
  text-align: left;
  font-size: 12px;
}

footer .footer ul {
  list-style-type: none;
  padding-left: 0;
  vertical-align: top;
}

footer .footer p {
  margin: 0;
}

h4 {
  font-size: 14px;
  font-weight: 700;
}